<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/registrar.css">
    <title>Registro Usuario</title>
</head>
<body>
    <div class="registration-form">
        
            <form class="registration-form">
                <h1>Registro de Usuarios</h1>
                <div class="form-group">
                    <input type="text" id="name" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                    <input type="email" id="email" placeholder="Correo Electrónico" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" placeholder="Contraseña" required>
                </div>
                <div class="form-group">
                    <input type="password" id="confirm-password" placeholder="Confirmar Contraseña" required>
                </div>
                <button type="submit">Registrar</button>
            </form>
          <div class="form-group-checkbox">
            <input id="remember" type="checkbox" class="form-checkbox" required />
            <label for="remember" class="form-checkbox-label">Remember me</label>
          </div>
          <button type="submit" class="form-button">Iniciar</button>
          <div class="form-register">
            No tenes cuenta? <a href="/register">Registrate</a>
          </div>
        </form>
        <img src="img.jpg" alt="loscompas.png" class="registration-image" />
      </div>
      
</body>
</html>