<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <main>
    <div class="container-form">
      <h1>Agregar nuevo producto</h1>
      <form action="/product/addProduct" method="POST" class="registration-form" enctype="multipart/form-data">
        <div class="form-group">
          <input type="text" name="name" placeholder="" required>
          <label for="name"> Nombre del producto</label>
        </div>
        <div class="form-group">
          <input type="text" name="marca" placeholder="" required>
          <label for="marca"> Marca del producto</label>
        </div>        
        <div class="form-group">          
          <input name="description" placeholder="" required></input>
          <label for="description">Descripcion</label>
        </div>
        <div class="form-group">          
          <input type="text" name="price" placeholder="" required>
          <label for="price">Precio</label>
        </div>
        <div class="form-group">          
          <input type="text" name="descuento" placeholder="" required>
          <label for="descuento">Descuento</label>
        </div>
        <label for="category">Categoría</label>
        <div class="form-select">
          <div>
            <input type="radio" value="Enlatados y Envasados" name="category" id="envasados" checked>
            <label for="envasados">Envasados</label> 
          </div>
          <div>
            <input type="radio" value="Frescos" name="category" id="frescos">
            <label for="frescos">Frescos</label>
          </div>
          <div>
            <input type="radio" value="Limpieza" name="category" id="limpieza">
            <label for="limpieza">Limpieza</label>
          </div>
          <div>
            <input type="radio" value="Para el Hogar" name="category" id="hogar"> 
            <label for="hogar">Para el hogar</label>
          </div>
        </div>
        <div class="form-image" placeholder="" required>
          <label for="image"> Subir imagen:</label>          
          <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png, .webp">          
        </div>
        <div class="product-add-actions">
          <button type="submit" class="form-button">Agregar</button>
          <button type="reset" class="form-button">Limpiar</button>
        </div>
      </form>

    </div>

 </main> 

  <%- include('./partials/footer') %>
  <script src="js/prueba.js"></script>
</body>
</html>