<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
<<<<<<< HEAD
<div class="container">
  <h1>Mi Carrito</h1>
  <div class="product-card">
    <a href="/detalle">
      <div class="product-image">
        <img src="img/home-aceite.webp" alt="product-image" height="200px"/>
        <button class="close-button">X</button>
      </div>
      <div class="product-details">
        <h5 class="product-title">Aceite Natura</h5>
        <div class="cont1">
          <div class="product-quantity">
            <button class="decrease-quantity-button">-</button>
            <span class="quantity">1</span>
            <button class="increase-quantity-button">+</button>
          </div>
          <div class="product-actions">
            <span class="product-price">$599</span>
=======
  <div class="container">
    <h1>Mi Carrito</h1>
    <div class="product-card">
      <div class="asd">      
      <div class="close-div">
      <button class="close-button">X</button>
      <a href="/detalle">
      </div>
        <div class="product-image">
          <img src="/img/home-aceite.webp" alt="product-image" height="200px" />
        </div>
      </a>
      <h5 class="product-title">Aceite Natura</h5>
    </div>
        <div class="product-details">
          
          <div class="cont1">
            <div class="product-quantity">
              <button class="decrease-quantity-button">-</button>
              <span class="quantity">1</span>
              <button class="increase-quantity-button">+</button>
            </div>
            <div class="product-actions">
              <span class="product-price">$599</span>
            </div>
>>>>>>> 706afa71919014008509b4770f79f5327df8dc6a
          </div>
        </div>
      
    </div>
    <div class="cart">
      <h2>Resumen del Carrito</h2>
      <ul class="cart-items">
        <li>
          <span class="cart-quantity">Cantidad: 1</span>
        </li>
        
      </ul>
      <div class="cart-total">
        <p>Total: <span id="cart-total-price">$0</span></p>
      </div>
      <button class="checkout-button">Realizar Pago</button>
    </div>
  </div>
  <%- include('./partials/footer') %>
</body>
