<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/detalle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Detalle de Producto</title>
</head>
<body>
    <header>
        <nav class="nav">
      
              <div class="nav-flex">
                <div class="nav-logo">
                  <a href="/">
                    <img src="img/Logo.png" alt="Flowbite Logo" class="nav-logo-img" />
                  </a>
                  <button class="nav-toggle" id="menuToggle">
                    <i class="fa-solid fa-bars "></i>
                    <!-- <img src="a.png" alt="" class="nav-toggle-img" /> -->
                  </button>
                </div>
                <div class="nav-search">
                  <div class="nav-search-bar">
                    <input type="search" id="default-search" placeholder="Buscar.." required class="nav-search-input" />
                    <button class="nav-search-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="nav-icons">
                  <a href="/carrito">
                    <i class="fa-solid fa-cart-shopping icono-nav1"></i>
                    <!-- <img src="b.png" alt="carrito" class="nav-icon" /> -->
                  </a>
                  <a href="/login">
                    <i class="fa-solid fa-user icono-nav1" ></i>
                    <!-- <img src="c.png" alt="perfil" class="nav-icon" /> -->
                  </a>
                </div>
              </div>
              <div class="nav-menu" id="navbar-default">
                <ul class="nav-menu-list">
                  <li class="nav-menu-item">
                    <a href="/" class="nav-menu-link">Home</a>
                  </li>
                  <li class="nav-menu-item">
                    <a href="#" class="nav-menu-link">About</a>
                  </li>
                  <li class="nav-menu-item">
                    <a href="#" class="nav-menu-link">Services</a>
                  </li>
                  <li class="nav-menu-item">
                    <a href="#" class="nav-menu-link">Pricing</a>
                  </li>
                  <li class="nav-menu-item">
                    <a href="#" class="nav-menu-link">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          
    </header>
    <main>
        <div class="container">

            <h1>Detalle del Producto</h1>
    
            <div class="product-card">
                <a href="/detalle">
                    <div class="product-image">
                        <img src="img/home-aceite.webp" alt="product-image" height="200px"/>
                        <button class="close-button">X</button>
                    </div>
                    <div class="product-details">
                        <h5 class="product-title">Aceite Natura</h5>
                        <div class="cont1">
                            <div class="product-quantity">
                                <button class="decrease-quantity-button">-</button>
                                <span class="quantity">1</span>
                                <button class="increase-quantity-button">+</button>
                                
                            </div>
                            <div class="product-actions">
                                <span class="product-price">$599</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-details">
                        <h2>Descripcion</h2>
                        <h3>Características principales</h3>
                        <ul>
                            <li>Tipo de aceite para cocina: Girasol</li>
                            <li>Marca: Natura</li>
                            <li>Tipo de envase: Botella</li>
                            <li>Volumen de la unidad: 900 cc</li>
                            <li>Es libre de gluten</li>
                            <li>Con fecha de vencimiento</li>  
                        </ul>
                    </div>
                </a>
            </div>
        </div>
    </main>



</body>
</html>