<%- include('./partials/head')%>
<body>
  <%-include('./partials/header'); %>
  <main>
    <img id="logo" src="/img/Logo.png" alt="LosCompas Supermarket">
    <form action="/login" method="POST" id="login-form">
      <div class="login-form-email">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="TuEmail@gmail.com" required>
      </div>
      <div class="login-form-password">
        <label for="password">Contraseña</label>
        <input type="password" name="password" required>
      </div>
      <div class="login-form-checkbox">
        <input type="checkbox" name="remember">
        <label for="remember">Recuerdame</label>
      </div>
      <button class="login-form-submit" type="submit">Iniciar Sesión</button>
      <div class="login-form-register">
        <p>¿No tenés cuenta? </p>
        <a href="/users/register">Registrate</a>
      </div>
    </form>
  </main>
  <%- include('./partials/footer'); %>
</body>
</html>