<footer>
    <div class="sobre-nosotros-redes">
        <h3>Nuestras Redes</h3>
        <div class="redes-links">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </div>
        <a id="sobre-nosotros-footer" href="https://github.com/NicoBuny95/Grupo_4_LosCompas#readme" target="_blank">Sobre Nosotros</a>
    </div>
    <div class="defensa-consumidor">
        <h3>Defensa al consumidor</h3>
        <div class="defensa-consumidor-links">
            <a href="https://servicios.infoleg.gob.ar/infolegInternet/anexos/0-4999/638/norma.htm" target="_blank">Ley de defensa del consumidor</a>
            <a href="https://www.argentina.gob.ar/produccion/defensadelconsumidor/conoce-tus-derechos" target="_blank">Conocé tus derechos consumidor</a>
        </div>
    </div>
</footer>