<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Información de contacto</h4>
            <a href="https://github.com/NicoBuny95/Grupo_4_LosCompas#readme" target="_blank">Sobre Nosotros</a>
        </div>
        <div class="footer-section">
            <h3>Defensa al consumidor</h3>
            <a href="https://servicios.infoleg.gob.ar/infolegInternet/anexos/0-4999/638/norma.htm" target="_blank">Ley defensa al consumidor</a>
            <a href="https://www.argentina.gob.ar/produccion/defensadelconsumidor/conoce-tus-derechos" target="_blank">derechos del consumidor</a>
        </div>
        <div class="footer-section">
            <h4>Redes Sociales</h4>
            <div class="social-media">
        
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-facebook-f fa-2xl" style="color: #dfa977;"></i>
                </a>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram fa-2xl" style="color: #dfa977;">  </i>
                  
                </a>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-x-twitter fa-2xl" style="color: #dfa977;"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-info">
        <p id="copyright">Copyright © <%= new Date().getFullYear() %> - Los Compas Supermarket</p>
    </div>
</footer>

