<footer>
    <div class="footer-container1">
        <div class="sobre-nosotros">
            <h3>Información de contacto</h3>
            <a id="sobre-nosotros-footer" href="https://github.com/NicoBuny95/Grupo_4_LosCompas#readme" target="_blank">Sobre Nosotros</a>
        </div>
        <div class="defensa-consumidor">
            <h3>Defensa al consumidor</h3>
            <div class="defensa-consumidor-links">
                <a href="https://servicios.infoleg.gob.ar/infolegInternet/anexos/0-4999/638/norma.htm" target="_blank">Ley de defensa del consumidor</a>
                <a href="https://www.argentina.gob.ar/produccion/defensadelconsumidor/conoce-tus-derechos" target="_blank">Conocé tus derechos consumidor</a>
            </div>
        </div>
    </div>
    <div class="footer-container2">
        <p id="copyright">Copyright © 2023 - Los Compas Supermarket</p>
    </div>
</footer>
<script src="/js/prueba.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.6.0/validator.min.js"></script>
