<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="css/normalize.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/partials/header.css">
    <link rel="stylesheet" type="text/css" href="/css/partials/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/partials/general.css">
    <link rel="stylesheet" type="text/css" href="<%= css %>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3a26eedc84.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/img/Logo.png">
    <title><%= title %></title>
</head>
