:root {
  --color-beige: #E9D186;
  --color-verde: #42A64A;
  --color-verde-hover: #63C86C;
  --color-negro: #0B090C;
  --color-rojo: #D7162B;
  --color-rojo-oscuro: #722924;
  --color-verde-oscuro: #176332;
  --color-gris: #7C7484;
}
footer {
  background: var(--color-verde);
  color: #FFF;
  padding: 20px 10px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 15px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.footer-section {
  flex: 1;
  margin: 15px;
}

.footer-section h4 {
  color: #EEEEEE;
  margin-bottom: 5px;
  
}

.footer-section a {
  color: #FFF;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;

}

.footer-info {
  text-align:center;
}

#copyright {
  font-size: 13px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  display: inline-block;
  margin: 0 5px;
  color: #FFF;
}
